.main-page {
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: center;
    border: .5px solid gray;
    /* background-color: aqua; */
}
.navbar-div {
    height: 100px;
    width: 100%;
    border-bottom: .5px;
    border-color: gray;
    border: .5px solid gray;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: black;
    opacity: 80%;
}
.navbar-title {
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
    font-size: 32px;
    font-weight: 600;
}
.input-field {
    margin-top: 20px;
    height: 30px;
    width: 200px;
    padding: 5px;
    border: .5px solid gray;
}
.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.sort-options-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /* background-color: gray; */
    margin-left: 180px;
    width: 100px;
    
}
.sort-options {
    height: 25px;
    width: 100px;
    border: .5px solid gray;
    margin: 5px;
    color: gray;
    cursor: pointer;
}
.sort-label {
    font-size: 12px;
    margin-top: 10px;;
    margin-bottom: 2px;
}