.crumb-outer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: auto;
    padding-left: 20px;
}
.crumb-outer-div > * {
    cursor: pointer;
    
}
.breadcrumb-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.crumb {
    margin: 5px;
    cursor: pointer;
    color: #365486;
}